docker.enabled = true

params {
    db_files = 'gs://bionfile-test/reference_db_v2'
    db_name = 'BIOINFILEDBTEST1'
    taxonomy = 'gs://bionfile-test/taxonomy.tsv'
    script = 'gs://bionfile-test/blastdm.py'
    blast_results_dir = "blast_results"
    decision_output_dir = "blastdm_outputs"
}

timeline {
    enabled = true
    file = "${params.outdir}/timeline.html"
    overwrite = true
}

process {
    cpus   = { 4 }
    memory = { 8.GB }
    time   = { 4.h }
    shell  = ['/bin/bash', '-euo', 'pipefail']

    // memory errors which should be retried. otherwise error out
    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'
}
